/*	................................................................
		author: 		Aleem Latif
 		description: 	CSS rules for Coding Test 		
.................................................................. */
html, body {
	height: 100%;
	margin:0;
	padding:0;
}
html {
	font-size: 25%;
}
body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font-family:Arial, Helvetica, sans-serif;
	font-size:3.25em;
	line-height:1.5em;
	text-align:center;
	min-height:260px;
}
/*********************
 Generic Rules
 **/
a, a:visited, a:focus, a:active {
	color:#3A6899;
	text-decoration:none;
}
a:hover {
	color:#3A6899;
	text-decoration: underline;
}
a img {
	border: 0;
}
p {
	line-height: 1.5em;
}
h1, h2, h3, h4, h5 {
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
}
.hidden {
	display:none;
}
.block {
	display:block;
}
.no-borders {
	border:none!important;
}
.bold {
	font-weight:bold;
}
/**
* clearfix 
*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* hides from ie-mac \*/

* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/******************************************************
	horizontal and vertical aligned content block
**/

#vertical-container {
	float:left;
	height:50%;
	margin-top:-139px;/* half vertical height*/
	width:100%;
}
#horizontal-container {
	border: 0 solid #dddddd;
	clear: both;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;	/* allow content to scroll inside element */
	text-align: left;
	width: 370px;
}
.module {
	vertical-align:middle;
	margin: 0 auto;
	position:relative;
	display:block;
}
.module h1 {
	background-color: #808080;
	color: #dddddd;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	text-align: left;
}
.ui-widget-header, .ui-draggable .ui-dialog-titlebar, .ui-dialog .ui-dialog-title {
	background-color: #808080;
	color: #dddddd;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 100%;
	border: 0 none;
}
.ui-dialog .ui-dialog-title {
	padding-left: 10px;
}
.ui-dialog .ui-dialog-content {
	background: none repeat scroll 0 0 #fff;
}
.module h1 span {
	background: url("../images/sprites.gif") no-repeat scroll 0 -51px #808080;
	display: block;
	float: right;
	height: 22px;
	margin: 5px;
	position: relative;
	width: 22px;
	right: 1px;
	top: 1px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url("../images/sprites.gif") no-repeat scroll 0 -51px #808080;
	border: 0 none;
	display: block;
	height: 22px;
	margin: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
}
.module-body .row .ui-progressbar .ui-progressbar-handle {
	background: url("../images/sprites.gif") no-repeat scroll 0 -26px transparent !important;
	border: 0 none;
	cursor: pointer;
	margin: 5px 0 0;
	outline: medium none;
	padding: 0;
	top: 0.5em;
	width: 15px;
}
.module .module-body {
	color: #000000;
	font-size: 1em;
	font-weight: normal;
	height: 100%;
	background-color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
}
.module .module-body .row {
	margin: 0 20px;
	padding: 10px 20px 20px;
	text-align: center;
}
.module .module-body .row .percentage-left, .module .module-body .row .percentage-right {
	display: block;
	position: absolute;
	top: 23px;
}
.module .module-body .row .percentage-right {
	right: 5px;
}
.module .module-body .row .percentage-left {
	left: 14px;
}
.module-body .row .meter-label, .module-body .row .meter-container, .module-body .row #target-block {
	display:block;
}
.module .module-body .row #target-block {
	background: url("../images/sprites.gif") no-repeat scroll 0 -71px transparent;
	width: 51px;
	height: 42px;
	text-align: center;
	color: #ffffff;
}
.module .module-body .row #target-block span {
	display:block;
	font-size: 0.9em;
	line-height: 1.4em;
	vertical-align:middle;
}
.module .module-body .row #target-block h3 {
	font-size: 1.4em;
	line-height: 1.4em;
	vertical-align:middle;
}
.module-body .row .meter-label {
	width: 80px;
	padding-top: 12px;
}
#progress-bars {
	vertical-align:middle;
	text-align:center;
	margin: 0 auto;
	position:relative;
	display:block;
}
.module-body .row .bars-container {
	padding: 15px 0 0 0;
}
.module-body .row .bars-container .progress-meter {
	background-color: #fff;
	background-image: none;
	border: 1px solid #cecece;
	border-radius: 0;
	cursor: pointer;
	height: 14px;
	position: relative;
}
.module-body .row .bars-container .progress-bar {
	background-color: #fff;
	background-image: none;
	border: 1px solid #cecece;
	border-radius: 0;
	height: 28px;
	position: relative;
	margin-bottom: 10px;
}
.module-body .row .bars-container .progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
.module-body .row .bars-container .control-panel {
	margin: 0;
	padding: 0;
	display:block;
	position: relative;
}
.module-body .row .bars-container .control-panel li {
	margin: 0 4px 0 0;
	padding: 0;
	display:block;
	position: relative;
	float: left;
}
.module-body .row .bars-container .control-panel li select {
	cursor:pointer;
	height:25px;
}
.module-body .row .bars-container .control-panel button {
	cursor:pointer;
}
.module-body .row .ui-progressbar .ui-progressbar-range {
	background: url("../images/bar_bg.gif") repeat-x scroll 0 0 transparent;
	border-radius: 0;
}
.module-body .row .ui-progressbar .ui-progressbar-value.success {
	background: url("../images/success_bar_bg.gif") repeat scroll 0 0 transparent!important;
	border-radius: 0;
}
.module-body .row .ui-progressbar .ui-progressbar-handle {
	background: url("../images/sprites.gif") no-repeat scroll 0 -26px transparent!important;
	top: 0.5em;
	border: none;
	cursor:pointer;
	outline: none;
}
.module-body .row .ui-progressbar .ui-progressbar-handle:focus {
	outline: none;
}
/******************
 page footer 
**/
#footer-wrapper {
	left:0;
	bottom:0;
	position:absolute;
	width:100%;
	border-top: 1px solid #999999;
	text-align:center;
}
.page-footer {
	margin:auto;
	width:80%;
	color:#333333;
	font-weight:normal;
	font-size: 0.8em;
}


/** 
	Responsoive Logic 
*/

/*************************************
	Size > 1024px Desktop/Widescreens
*/
@media screen and (min-width: 1025px) {

}

/***************************************
	Size ~ 601px - 1024px Tablet/Desktop
*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
	min-width: 300px!important;
	max-width: 400px!important;
}

/*************************************
	Size ~ 0 - 600px [mobile devices]
*/
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .ui-dialog {
    min-width: 250px!important;
	max-width: 90%!important;
  }
}